<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="mt-3 mb-3">Angular 5 simple Reddit.</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-create-article
        (submitArticle)="addingArticles($event)"></app-create-article>
    </div>
    <div class="col-md-7">
      <div class="list-group">
        <app-articles
          *ngFor="let article of sortedArticles()"
          [articleItem] = "article">{{ article }}</app-articles>
      </div>
    </div>
  </div>
</div>
